.subscribe,
.subscribe:focus {
  border-color: magenta;
  background-color: inherit;
}

.subscribe:hover:enabled {
  border-color: magenta !important;
  box-shadow: 0 0 5px magenta;
  color: rgba(255, 255, 255, 0.85) !important;
  background-color: inherit !important;
}

.subscribe:active {
  border-color: magenta !important;
  color: rgba(255, 255, 255, 0.85) !important;
}

.contact {
  color: magenta;
}

.contact:hover {
  color: rgba(255, 255, 255, 0.85);
}