@import "../../styles/variables.less";

.ant-segmented .ant-segmented-item:hover:not(.ant-segmented-item-selected):not(.ant-segmented-item-disabled)::after {
  background-color: unset;
}

.ant-statistic .ant-statistic-title {
  color: @color-text-secondary;
}

@media (min-width: 1000px) {
  .fullHeight {
    height: calc(100% - 97px);
  }
}

.buyText {
  color: @color-cyan;
}

.sellText {
  color: @color-magenta;
}